
.container {
    margin: 20px;
  }
  
  .number-item {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
  }